<%- include("partials/header.ejs")%>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.name %></div>
    <form method="POST" action="/blogs/<%= blog._id %>?_method=PUT" class="ui form">
        <div class="field">
            <label>Name</label>
            <input type="text" name="blogs[name]" value="<%= blog.name %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blogs[image]" value="<%= blog.image %>">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blogs[body]"><%= blog.body %></textarea>
        </div>
        <input type="submit" class="ui inverted button big purple">
    </form>
</div>


<%- include("partials/footer.ejs")%>
