<%- include("partials/header.ejs")%>

<h1>This is just a heading</h1>

<% blogs.forEach((blog)=>{ %>
    <div>
        <h2><%= blog.name %></h2>
        <img src="<%= blog.image %>" alt="bleh" style="width: 400px;">
        <p><%= blog.body.substring(0, 100) %>...</p>
        <span><%= blog.created.toDateString() %></span>
        <form action="/blogs/<%= blog._id %>">
            <button class="ui button inverted purple">Read More</button>
        </form>
    </div>
<% }) %>

<%- include("partials/footer.ejs")%>