<%- include("partials/header.ejs")%>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.name %></div>
    <div class="ui top attached">
        <div class="item">
            <img src="<%- blog.image %>" class="ui centered rounded image" style="width: 400px;">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
        </div>
    </div>
    
    <p><%= blog.body %></p>
</div>




<%- include("partials/footer.ejs")%>